
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: auto;
}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-enviar button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.10);
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00ff08;
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav.menu-desktop a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.10);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;

}
.menu-mobile{
    display: none;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
    text-align: left;
}

.topo-do-site .txt-topo-site h1 span{
    color: #00ff08;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades{
    padding: 80px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    cursor: pointer;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.10);
    box-shadow: 0 0 8px #ffffff78;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #00ff08;
}

.especialidades .especialidades-box h3{
    font: 28px;
    margin: 15px 0;
}

.especialidades li{
    outline: none;
    color:#fff
}

/* ESTILO DO SOBRE */
section.sobre{
    padding: 80px 4%;
}

.sobre .flex{
    align-items: center;
    gap: 60px;
}
.img-sobre img{
    width: 100%;
    max-width: 764px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #00ff08;
    display: block;

}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.2s;
    text-align: center;
}
/* ESTILO PORTFOLIO */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: .8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULARIO DE CONTATO */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}
form textarea{
    resize: none;
    max-height: 600px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: #00ff08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPE */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

.line-footer{
    padding: 20px 0;
}

footer .line-footer p i{
    color: #00ff08;
    font-size: 22px;
}

footer .line-footer a{
    color: #fff;
    text-decoration: none;
}

.bordar{
    border-top: 2px solid #00ff08;
}


@media screen and (max-width: 1020px) {
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    } 

    .sobre .flex{
        flex-direction: column-reverse;
    }
    /* ESTILO MENU MOBILE */
.btn-abrir-menu i{
    color: #00ff08;
    font-size: 50px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top:0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
    display: block;
}
.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
    text-decoration: none
}

.menu-mobile nav ul li a:hover{
    background-color: #00ff08;
    color: #000;
}

.overlay-menu{
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}
.menu-mobile .btn-fechar i{
    color: #00ff08;
    font-size: 30px;

}
header nav.menu-mobile a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }
    /* TOPO DO SITE */
    .topo-do-site h1{
        font-size: 30px;
    }
    section .topo-do-site{
        padding: 20px 8%;
    }
    .topo-do-site .img-topo-site img{
        width: 100%;
    }
    section .topo-do-site .flex{
        gap:40px;
    }
    /* ESTILO DAS ESPECIALIDADES */
    section.especialidades{
        padding: 40px 8%;
    }
    /* SOBRE */
    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }
    .img-sobre img{
        width: 100%;
    }

    /* PORTFOLIO */
    section.portfolio{
        padding: 80px 8%;
    }
    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    section.portfolio .flex{
        gap:60px;
    }
    /* RODAPE */
    footer .flex{
        flex-direction: column;
        gap: 30px;
    }
    footer .line-footer{
        text-align: center;

    }
}
